*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


body {
    font-family: 'Open Sans', sans-serif;
}

/*Header*/

header {
    width: 100%;
    background: #000;
    display: flex;
}

.header__logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;

}

nav {
    margin-top: 56px;
    margin-left: 29%;
}

.topnav a{
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}

.topnav a:hover {
    border-bottom: solid 3px #fcac45;
}

.topnav .icon {
    display: none;
}

/*Main*/

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .main__welcome {
    background-color: #000;
    color: #999999;
    text-align: center;
    padding: 200px 0 410px;
}

main .mycompany {
    color: #fcac45;
    font-weight: 700;
}

main .main__welcome h1 {
    font-size: 44px;
    font-weight: 400;
}

main .main__welcome p {
    font-size: 20px;
    color: #c3c3c3;
}

main .main__welcome p span {
    font-weight: 700;
}

.wrapper {
    width: 76%;
    margin: 0 auto;
}

main .main__about {
    display: flex;
    padding: 100px 0 100px 0;
}

main .about__right {
    margin-left: 175px;
}

.about__right h1 {
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
    font-size: 34px;
}

.about__right p {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 18px;
    color: #6c6c6c;
    max-width: 410px;
}

.about__right li {
    background: url(img/mark.png) 0px no-repeat;
    padding-left: 25px;
    margin-top: 10px;
}

.mw-100 {
    min-width: 100%;
}

.main__about .about__right h1 {
    text-transform: uppercase;
    font-weight: 400;
}

.main__about .about__right h1 span {
    font-weight: 700;
}

.main__about .about__right ul {
    font-style: italic;
    font-weight: 400;
    color: #5a5a5a;
}

.main__about .about__right ul span{
    font-style: normal;
    font-weight: 700;
    color: #5a5a5a;
}

/*Media*/

@media screen and (max-width: 1200px) {
    nav {
        margin-left: 20%;
    }
}

@media screen and (max-width: 1105px) {
    nav {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        margin-top: -17PX;
        display: block;
        color: #fff;
        font-size: 25px;
    }

    nav {
        width: 100%;
    }

    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }

    header .topnav.responsive {
        height: 340px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: -50px;
        right: -200px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    main .main__welcome {
        padding: 50px 0 50px 0;
    }

    main .main__welcome p {
        font-size: 14px;
    }

    main .main__welcome h1 {
        font-size: 25px;
    }

    .mw-100 {
        max-width: 100%;
    }

    .main__about {
        flex-direction: column;
    }

    .about__right {
        text-align: center;
        margin-left: 0px;
    }

    .about__right li{
        text-align: left;
}
    .about__right h1 {
        font-size: 20px;
        margin-top: 10px;
    }
}














